# Python neovim
neovim
# Pylsp requirements
python-lsp-server[all]
python-lsp-black
pyls-flake8
pyls-isort
isort
flake8
# Flake8 extensions
flake8-docstrings
flake8-assertive
flake8-bugbear
flake8-comprehensions
flake8-builtins
flake8-isort
flake8-quotes
flake8-commas
flake8-black
flake8-eradicate
flake8-coding
flake8-fixme
flake8-print
flake8-pytest-style
flake8-simplify
flake8-sql
pandas-vet
pep8-naming
flake8-functions
flake8-expression-complexity
flake8-use-fstring
darglint
flake8-pytest
flake8-test-name
flake8-typing-imports
typing-extensions
# An implementation of the Debug Adapter Protocol for Python
debugpy
